<!DOCTYPE html>

<html>
    <head>
        <title>Practicing Angular</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/foundation.css" />
    </head>

    <body>

        <!--        <style>
        
                    div {
                        border: thin solid red;
                    }
        
                </style>-->

        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">newsite</a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li><a href="api.html">Test API</a></li>
                    <li class="has-dropdown">
                        <a href="#">Dropdown</a>
                        <ul class="dropdown">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="api.html">Test API</a></li>
                        </ul>
                    </li>
                </ul>

                <!-- Left Nav Section -->
                <ul class="left">
                    <li class="active"><a href="#">Home</a></li>
                </ul>
            </section>
        </nav>

        <div ng-app="">

            <div class="row">

                <div class="large-6 medium-6 columns">
                    <div class="columns">
                        <hr/>  
                        <em>A simple expression for in-line math</em>
                    </div>

                    <div class="columns">
                        <blockquote>
                            128*256 is <em>{{128 * 256}}</em>.
                        </blockquote>
                    </div>

                </div>

                <div class="large-6 medium-6 columns" ng-init="ball={color:'orange',shape:'sphere'}">

                    <div class="columns">
                        <hr/>  
                        <em>Retrieving the property of an AngularJS object</em>
                    </div>

                    <div class="columns">
                        <blockquote>
                            The color of the ball is {{ ball.color}}.
                        </blockquote>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="large-6 medium-6 columns" ng-init="name = 'Timmy'">

                    <div class="columns">
                        <hr/>  
                        <em>Binding a span to an input</em>
                    </div>

                    <div class="large-6 columns">
                        Name: <input type="text" ng-model="name">
                    </div>

                    <div class="columns">
                        <blockquote>
                            Your name is <span ng-bind="name"></span>.
                        </blockquote>
                    </div>

                </div>

                <div class="large-6 medium-6 columns" ng-init="quantity = 2;
                        cost = 5">

                    <div class="columns">
                        <hr/>  
                        <em>Binding a single expression to multiple inputs</em>
                    </div>
                    <div class="large-6 columns">
                        Quantity: <input type="text" ng-model="quantity">
                    </div>
                    <div class="large-6 columns">
                        Cost: <input type="text" ng-model="cost">
                    </div>
                    <div class="columns">
                        <blockquote>
                            Your total is: {{(quantity * cost)| currency}}.
                        </blockquote>
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="large-6 medium-6 columns" ng-init="firstName = 'John';
                        lastName = 'Doe'">

                    <div class="columns">
                        <hr/>  
                        <em>Binding a single span to multiple inputs with initialized values</em>
                    </div>
                    <div class="large-6 columns">
                        First Name: <input type="text" ng-model="firstName">
                    </div>
                    <div class="large-6 columns">
                        Last Name: <input type="text" ng-model="lastName">
                    </div>
                    <div class="columns">
                        <blockquote>
                            Full Name: <span ng-bind="firstName + ' ' + lastName"></span>
                        </blockquote>
                    </div>

                </div>            

                <div class="large-6 medium-6 columns" ng-init="pointsAcquired = 45;
                        totalPointsPossible = 50">

                    <div class="columns">
                        <hr/>  
                        <em>Another example of binding a single span to multiple inputs</em>
                    </div>
                    <div class="large-6 columns">
                        Points Acquired: <input type="text" ng-model="pointsAcquired">
                    </div>
                    <div class="large-6 columns">
                        Points Possible: <input type="text" ng-model="totalPointsPossible">
                    </div>
                    <div class="columns">
                        <blockquote>
                            Your score is: <span ng-bind="(pointsAcquired / totalPointsPossible) * 100 + '%'"></span>.
                        </blockquote>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="large-3 medium-6 columns" ng-controller="personController">

                    <div class="columns">
                        <hr/>  
                        <em>Using a controller's properties to populate an expression</em>
                    </div>

                    <div class="large-6 columns">
                        First Name: <input type="text" ng-model="firstName">
                    </div>

                    <div class="large-6 columns">
                        Last Name: <input type="text" ng-model="lastName">
                    </div>

                    <div class="columns">
                        <blockquote>
                            Name: {{firstName + " " + lastName}}
                        </blockquote>
                    </div>

                </div>

                <div class="large-3 medium-6 columns" ng-controller="joeJonController">

                    <div class="columns">
                        <hr/>  
                        <em>Using a controller to populate an expression from an array</em>
                    </div>

                    <div class="large-6 columns">
                        First Name: <input type="text" ng-model="joeJon.firstName">
                    </div>

                    <div class="large-6 columns">
                        Last Name: <input type="text" ng-model="joeJon.lastName">
                    </div>

                    <div class="columns">
                        <blockquote>
                            Name: {{joeJon.firstName + " " + joeJon.lastName}}
                        </blockquote>
                    </div>

                </div>

                <div class="large-3 medium-6 columns" ng-controller="maryLouController">

                    <div class="columns">
                        <hr/>  
                        <em>Using a function in a controller to populate an expression</em>
                    </div>

                    <div class="large-6 columns">
                        First Name: <input type="text" ng-model="maryLou.firstName">
                    </div>

                    <div class="large-6 columns">
                        Last Name: <input type="text" ng-model="maryLou.lastName">
                    </div>

                    <div class="columns">
                        <blockquote>
                            Name: {{maryLou.fullName()}}
                        </blockquote>
                    </div>

                </div>

                <div class="large-3 medium-6 columns" ng-controller="jesseJamesController">

                    <div class="columns">
                        <hr/>  
                        <em>Using a method of a controller to populate an expression</em>
                    </div>

                    <div class="large-6 columns">
                        First Name: <input type="text" ng-model="jesseJames.firstName">
                    </div>

                    <div class="large-6 columns">
                        Last Name: <input type="text" ng-model="jesseJames.lastName">
                    </div>

                    <div class="columns">
                        <blockquote>
                            Name: {{fullName()}}
                        </blockquote>
                    </div>

                </div>

            </div>

            <div class="row">

                <div class="large-4 medium-4 columns" ng-controller="exController">

                    <div class="columns">
                        <hr/>  
                        <em>Accessing a controller and its properties in an external file</em>
                    </div>

                    <div class="large-6 columns">
                        First Name: <input type="text" ng-model="ex.firstName">
                    </div>

                    <div class="large-6 columns">
                        Last Name: <input type="text" ng-model="ex.lastName">
                    </div>

                    <div class="columns">
                        <blockquote>
                            Name: {{fullName()}}
                        </blockquote>
                    </div>

                </div>

                <div class="large-4 medium-4 columns" ng-init="alphaNum = ['one', 'two', 'three', 'four', 'five'];
                        sub1 = 1">

                    <div class="columns">
                        <hr/>  
                        <em>Using a pointer to pull from an array</em>
                    </div>

                    <div class="columns">
                        Enter number 1 through 5: <input type="text" ng-model="sub1">
                    </div>
                    <div class="columns">
                        <blockquote>
                            The text for your number is "<span ng-bind="alphaNum[sub1 - 1]"></span>".
                        </blockquote>
                    </div>
                </div>

                <div class="large-4 medium-4 columns" ng-init="food = ['apple', 'bananas', 'carrots', 'donuts'];
                        subOne = 1">

                    <div class="columns">
                        <hr/>  
                        <em>Another use of a pointer to pull from an array</em>
                    </div>
                    <div class="columns">
                        Enter number 1 through 4: <input type="text" ng-model="subOne">
                    </div>
                    <div class="columns">
                        <blockquote>
                            Your number and your food is <strong>{{subOne + ' ' + food[subOne - 1]}}</strong>.
                        </blockquote>
                    </div>
                </div>

            </div>

            <div class="row">

                <div class="large-3 medium-6 columns" ng-init="names = ['Curly', 'Moe', 'Larry']">

                    <div class="columns">
                        <hr/>  
                        <em>Filtering a mixed case array to a lowercase list:</em>
                    </div>
                    <div class="columns">
                        <ul>
                            <li ng-repeat="x in names">
                                {{x| lowercase}}
                            </li>
                        </ul>
                    </div>
                </div>            

                <div class="large-3 medium-6 columns" ng-init="lowerCaseNumbers = ['one', 'two', 'three', 'four', 'five']">

                    <div class="columns">
                        <hr/>  
                        <em>Filtering a lowercase array to an uppercase list:</em>
                    </div>
                    <div class="columns">
                        <ul class="circle">
                            <li ng-repeat="x in lowerCaseNumbers">
                                {{x| uppercase}}
                            </li>
                        </ul>
                    </div>
                </div>            

                <div class="large-3 medium-6 columns" ng-init="monies = [1, 2, 3, 4]">

                    <div class="columns">
                        <hr/>  
                        <em>Filtering an array of numbers to a currency list:</em>
                    </div>
                    <div class="columns">
                        <ul class="disc">
                            <li ng-repeat="x in monies">
                                {{x| currency}}
                            </li>
                        </ul>
                    </div>
                </div>            


                <div class="large-3 medium-6 columns" ng-controller="nameCountryController">

                    <div class="columns">
                        <hr/>  
                        <em>Populating a list from an external controller:</em>
                    </div>
                    <div class="columns">
                        <ul class="disc">
                            <li ng-repeat="x in nameCountry">
                                {{x.name + ' is from ' + x.country}}
                            </li>
                        </ul>
                    </div>                
                </div>
            </div>



            <div class="row">
                <div class="columns">
                    <hr/>
                </div>
            </div>
        </div>

        <!-- Foundation -->
        <script src="js/vendor/modernizr.js"></script>
        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation.min.js"></script>
        <script>
                                    $(document).foundation();</script>

        <!-- AngularJS -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script>
                                    function personController($scope) {
                                        $scope.firstName = "Jimmy";
                                        $scope.lastName = "John";
                                    }

                                    function joeJonController($scope) {
                                        $scope.joeJon = {
                                            firstName: "Joe",
                                            lastName: "Jon"
                                        };
                                    }

                                    function maryLouController($scope) {
                                        $scope.maryLou = {
                                            firstName: "Mary",
                                            lastName: "Lou",
                                            fullName: function() {
                                                var x;
                                                x = $scope.maryLou;
                                                return x.firstName + " " + x.lastName;
                                            }
                                        };
                                    }

                                    function jesseJamesController($scope) {
                                        $scope.jesseJames = {
                                            firstName: "Jesse",
                                            lastName: "James"
                                        };

                                        $scope.fullName = function() {
                                            var x;
                                            x = $scope.jesseJames;
                                            return x.firstName + " " + x.lastName;
                                        };
                                    }

        </script>
        <script src="js/exController.js"></script>
        <script src="js/nameCountryController.js"></script>
    </body>

</html>
