<!DOCTYPE html>

<html>
    <head>
        <title>Practicing Angular</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/foundation.css" />
    </head>

    <body>

        <!--        <style>
        
                    div {
                        border: thin solid red;
                    }
        
                </style>-->

        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="#">newsite</a></h1>
                </li>
                <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <!-- Right Nav Section -->
                <ul class="right">
                    <li><a href="#">Test API</a></li>
                    <li class="has-dropdown">
                        <a href="#">Dropdown</a>
                        <ul class="dropdown">
                            <li><a href="index.html">Home</a></li>
                            <li class="active"><a href="#">Test API</a></li>
                        </ul>
                    </li>
                </ul>

                <!-- Left Nav Section -->
                <ul class="left">
                    <li><a href="index.html">Home</a></li>
                </ul>
            </section>
        </nav>

        <div ng-app="">

            <div class="row" ng-controller="nameCountryController">
                <div class="large-6 medium-6 columns">
                    <hr/>  
                    <em>Populating a list from an external controller:</em>
                    <input type="text" ng-model="x.name">
                </div>
                <div class="columns">
                    <ul class="disc">
                        <li ng-repeat="x in nameCountry | filter: x.name | orderBy: 'country'">
                            {{x.name + ' is from ' + x.country}}
                        </li>
                    </ul>
                </div>                
            </div>

            <div class="row">
                <div class="columns">
                    <hr/>  
                    <em>Populating a list from an external controller:</em>
                </div>
                <div class="columns" ng-controller="customersController"> 
                    <input type="text" ng-model="x.Name">
                    <ul class="square">
                        <li ng-repeat="x in names | filter: x.Name | orderBy: 'Country'">
                            {{ x.Name + ', ' + x.Country}}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row" ng-controller="toAndFromJsonController">
                <div class="columns">
                    <hr/>  
                    <em>Turning input into JSON and pulling from that JSON back to displayable objects:</em>
                </div>
                <div class="large-6 medium-6 columns">
                    First Name: <input type="text" ng-model="user.firstName" />
                </div>
                <div class="large-6 medium-6 columns">
                    Last Name: <input type="text" ng-model="user.lastName" />
                </div>
                <div class="columns">
                    <button ng-click="showJson()">Object to JSON</button>
                    <button ng-click="showObject()">JSON to Object</button>
                </div>
                <div class="columns">
                    {{myJsonFromUser}}
                </div>    
                <div class="columns">
                    {{myObjectFromJson.firstName + " " + myObjectFromJson.lastName}}
                    <hr/>  
                </div>
            </div>


            <div class="row">
                <div class="columns">
                    <button ng-click="count = count + 1">Click me!</button>
                    {{ count}}
                    <hr/>  
                </div>
            </div>

            <div class="row" ng-controller="charController">

                <div class="large-3 medium-6 columns">
                    Name: <input type="text" ng-model="char.name">
                    Server: <input type="text" ng-model="char.realm">
                </div>
                <div class="large-3 medium-6 columns">
                    <img src="http://us.battle.net/static-render/us/{{thumbnail}}">
                </div>
                <div class="columns">
                    <a href="#" class="button [radius round]" ng-click="getChar()">Go!</a>
                    <hr/>  
                </div>
            </div>

        </div>

        <!-- Foundation -->
        <script src="js/vendor/modernizr.js"></script>
        <script src="js/vendor/jquery.js"></script>
        <script src="js/foundation.min.js"></script>
        <script>
                        $(document).foundation();
        </script>

        <!-- AngularJS -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
        <script>

                        function customersController($scope, $http) {
                            $http.get("http://www.w3schools.com/website/Customers_JSON.php")
                                    .success(function(response) {
                                        $scope.names = response;
                                    });
                        }

                        function toAndFromJsonController($scope) {

                            $scope.user = {
                                firstName: "Jay",
                                lastName: "Swan"
                            };

                            $scope.showJson = function() {
                                $scope.myJsonFromUser = angular.toJson($scope.user, true);
                            }

                            $scope.showObject = function() {
                                $scope.myObjectFromJson = angular.fromJson($scope.myJsonFromUser)
                            }
                        }

        </script>
        <script src="js/charController.js"></script>
        <script src="js/nameCountryController.js"></script>

    </body>

</html>