<div class="row">

	<div class="large-6 medium-6 columns">
		<div class="columns">
			<hr />
			<em>A simple expression for in-line math</em>
		</div>

		<div class="columns">
			<blockquote>
				128*256 is <em>{{128 * 256}}</em>.
			</blockquote>
		</div>

	</div>

	<div class="large-6 medium-6 columns"
		ng-init="ball={color:'orange',shape:'sphere'}">

		<div class="columns">
			<hr />
			<em>Retrieving the property of an AngularJS object</em>
		</div>

		<div class="columns">
			<blockquote>The color of the ball is {{ ball.color}}.</blockquote>
		</div>
	</div>

</div>

<div class="row">

	<div class="large-6 medium-6 columns" ng-init="name = 'Timmy'">

		<div class="columns">
			<hr />
			<em>Binding a span to an input</em>
		</div>

		<div class="large-6 columns">
			Name: <input type="text" ng-model="name">
		</div>

		<div class="columns">
			<blockquote>
				Your name is <span ng-bind="name"></span>.
			</blockquote>
		</div>

	</div>

	<div class="large-6 medium-6 columns"
		ng-init="quantity = 2;
                        cost = 5">

		<div class="columns">
			<hr />
			<em>Binding a single expression to multiple inputs</em>
		</div>
		<div class="large-6 columns">
			Quantity: <input type="text" ng-model="quantity">
		</div>
		<div class="large-6 columns">
			Cost: <input type="text" ng-model="cost">
		</div>
		<div class="columns">
			<blockquote>Your total is: {{(quantity * cost)|
				currency}}.</blockquote>
		</div>

	</div>

</div>

<div class="row">

	<div class="large-6 medium-6 columns"
		ng-init="firstName = 'John';
                        lastName = 'Doe'">

		<div class="columns">
			<hr />
			<em>Binding a single span to multiple inputs with initialized
				values</em>
		</div>
		<div class="large-6 columns">
			First Name: <input type="text" ng-model="firstName">
		</div>
		<div class="large-6 columns">
			Last Name: <input type="text" ng-model="lastName">
		</div>
		<div class="columns">
			<blockquote>
				Full Name: <span ng-bind="firstName + ' ' + lastName"></span>
			</blockquote>
		</div>

	</div>

	<div class="large-6 medium-6 columns"
		ng-init="pointsAcquired = 45;
                        totalPointsPossible = 50">

		<div class="columns">
			<hr />
			<em>Another example of binding a single span to multiple inputs</em>
		</div>
		<div class="large-6 columns">
			Points Acquired: <input type="text" ng-model="pointsAcquired">
		</div>
		<div class="large-6 columns">
			Points Possible: <input type="text" ng-model="totalPointsPossible">
		</div>
		<div class="columns">
			<blockquote>
				Your score is: <span
					ng-bind="(pointsAcquired / totalPointsPossible) * 100 + '%'"></span>.
			</blockquote>
		</div>
	</div>
</div>

<div class="row">
	<hr />
	<div class="columns">
		<button ng-click="count = count + 1">Click me!</button>
		{{count}}
	</div>
</div>